:root {
    --lighterBackgroundColor: rgb(42, 42, 42); /* 1.3 */
    --backgroundColor: rgb(32, 32, 32);  /* 1 */
    --veryCloseBackgroundColor: rgb(30, 30, 30);  /* 0.95 */
    --middleBackgroundColor: rgb(27, 27, 27);  /* 0.85 */
    --darkerBackgroundColor: rgb(22, 22, 22);  /* 0.7 */
    --darkerBackgroundColorHalf: rgb(22, 22, 22);  /* 0.7 */
    --borderColor: rgb(46, 46, 46);  /* 1.45 */
}

* {
    font-family: Nunito;
    vertical-align: top;
}

html,body {
    height: 100%;
    width: 100%;
}

textarea {
    resize: none;
}

body {
    background-color: var(--backgroundColor);
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > div:nth-child(1) {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: 'Kalam', cursive;
    color: rgb(200, 200, 200);
}

body > div:nth-child(3) {
    height: 5vh;
    width: 100vh;
}

#main {
    height: 85vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

#main > div:nth-child(1) {
    width: 10%;
    height: 100%;
}

#main > div:nth-child(3) {
    width: 10%;
    height: 100%;
}

#contentDiv {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#moduleHolder {
    width: 90%;
    height: 100%;
    background-color: var(--darkerBackgroundColor);
    border-radius: 2vh;
    border: 4px solid var(--borderColor);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 1.5vh;
    padding: 1.5vh;
    box-sizing: border-box;
} 

.moduleShow {
    width: 100%;
    height: 100%;
    background-color: var(--backgroundColor);
    border: 2px solid var(--borderColor);
    border-radius: 1vh;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moduleShow > .textHolder {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moduleShow > .textHolder > h2, .textHolderText {
    color: rgb(150, 150, 150);
    margin: 0px;
}

.moduleShow > .contentHolder {
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vh;
    padding: 1vh;
    box-sizing: border-box;
}

.moduleShow > .contentHolder > div, .submoduleDisplayInModule, .divToMove {
    width: 100%;
    height: 100%;
    background-color: var(--darkerBackgroundColor);
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moduleShow > .contentHolder > div > h3, .submoduleDisplayTitle, .submodule > .contentHolder > div > h3, .h3ToMove {
    width: 80%;
    text-align: center;
    color: white;
    font-size: 1rem;
    margin: 0px;
}

#bigModuleHolder {
    position: absolute;
    left: 5%;
    top: 0px;
    width: 90%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.5vh;
    padding: 1.5vh;
    background-color: var(--darkerBackgroundColor);
    border-radius: 2vh;
    border: 4px solid var(--borderColor);
    box-sizing: border-box;
    justify-items: center;
    align-items: center;
    display: none;
    visibility: hidden;
    z-index: 3;
}

.submodule {
    width: 100%;
    height: 100%;
    background-color: var(--backgroundColor);
    border: 2px solid var(--borderColor);
    border-radius: 1vh;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.submodule > .textHolder {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submodule > .textHolder > h2 {
    color: white;
    font-size: 1.5rem;
    margin: 0px;
}

.submodule > .contentHolder {
    height: 83%;
    width: 100%;
    padding: 1vh;
    box-sizing: border-box;
    padding-top: 0;
}

.submodule > .listHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.submodule > .divHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1vh;
}

.submodule > .divHolder > .submoduleDisplayInModule {
    width: 100%;
    height: 100%;
    background-color: var(--darkerBackgroundColor);
}

.submodule > .textareaHolder {
    display: flex;
    flex-wrap: wrap;
    align-items: space-evenly;
    justify-content: space-evenly;
}

.submodule > .textareaHolder > .textarea {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submodule > .textareaHolder > .textarea > .titleHolder {
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    padding: 0;
    margin: 0;
}

.submodule > .textareaHolder > .textarea > .textareaHolder {
    height: calc(100% - 2rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submodule > .textareaHolder > .textarea > .textareaHolder > textarea {
    height: 100%;
    width: 100%;
    background-color: var(--darkerBackgroundColor);
    border-radius: 1.5vh;
    border: 2px solid var(--borderColor);
    color: white;
    font-size: 1rem;
    padding: 2%;
    box-sizing: border-box;
}


.bullet, .bulletDate, .bulletTime, .bulletCheckbox {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}

.bullet > .bulletPart, .bulletCheckbox > .bulletPart {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.7rem;
}

.bullet > .textPart, .bulletCheckbox > .textPart {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bulletDate > .textPart, .bulletTime > .textPart {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bullet > .textPart > textarea, .bulletDate > .textPart > textarea, .bulletCheckbox > .textPart > textarea, .bulletTime > .textPart > textarea {
    width: 100%;
    font-size: 1rem;
    background-color: var(--lighterBackgroundColor);
    border-radius: 0.3rem;
    border: 2px solid var(--borderColor);
    color: white;
    padding: 1%;
    padding-left: 2%;
}

.bulletDate > .bulletPart, .bulletTime > .bulletPart {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bulletDate > .bulletPart > .bulletHolder, .bulletTime > .bulletPart > .bulletHolder{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    font-size: 1rem;
}

.bulletDate > .bulletPart > .bulletHolder > input, .bulletTime > .bulletPart > .bulletHolder > input {
    width: 40%;
    height: 90%;
    font-size: 1rem;
    color: rgb(230, 230, 230);
    background-color: var(--middleBackgroundColor);
    border: 0;
    border-radius: 0.5vh;
    text-align: center;
}

.checkbox {
    position: relative;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5vh solid var(--borderColor);
}

.checkbox > input {
    position: absolute;
    width: 105%;
    height: 105%;
    left: -10%;
    top: -10%;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}

.checkbox > .check {
    opacity: 0;
    transition: opacity 200ms;
    width: 70%;
    height: 70%;
    background-color: var(--borderColor);
    border-radius: 100%;
    border: 0;
}

.checkbox > input:checked ~ div {
    opacity: 1;
}

.bulletCheckbox > .bulletPart > .checkbox {
    height: 50%;
}