

.logoHolder {
    position: absolute;
    top: 35%;
    left: 30%;
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 4vh;
}

.logoHolder > *, .logoHolder {
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.logoHolder > .body {
    position: relative;
    height: 100%;
    width: 78%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    overflow: hidden;
    z-index: 0;
}

.logoHolder > .body > .batteryPercentage {
    position: absolute;
    top: -200%;
    right: 100%;
    height: 400%;
    width: 200%;
    background-color: green;
    transform: rotate(-5deg);
}

.logoHolder > .body > h2 {
    font-size: 510%;
    color: white;
    font-family: 'Train One', system-ui;
    text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.3);
    margin: 0;
    line-height: 1;
    transform: translate(-1.2%, -4%);
}

.logoHolder > .body > h2 > span {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    text-shadow: inherit;
    margin: 0;
    line-height: 1;
}

.logoHolder > .cap {
    height: 75%;
    width: 19.5%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.logoHolder > .cap > h3 {
    font-size: 215%;
    color: white;
    font-family: 'Train One', system-ui;
    text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.3);
    margin: 0;
    line-height: 1;
    transform: translate(-1.2%, -4%);
}

.logoHolder > .cap > h3 > span {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    text-shadow: inherit;
    margin: 0;
    line-height: 1;
}

.animationWordHolder {
    position: absolute;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
    mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
}

.animationWords {
    font-family: "Bree Serif", serif;
    color: white;
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: column;
}

.animationWords > p {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-family: "Bree Serif", serif;
    color: white;
    font-size: inherit;
}

.animationDrop {
    position: absolute;
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animationDrop > span {
    color: white;
    font-family: "Bree Serif", serif;
    width: min-content;
    line-height: 1.05;
}