/* Styles for each bullet div*/
.bullet {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    position: relative;
    cursor: auto;
}

.bullet .xButton {
    position: absolute;
    top: 50%;
    right: 1vh;
    width: 2vh;
    aspect-ratio: 1/1;
    background-color: transparent;
    border-radius: 100vw;
    opacity: 0;
    transition: opacity 100ms ease, background 100ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;
}

.bullet .xButton > i {
    font-size: 75%;
    color: white;
    transform: translate(0.2px, 0.5px);
}

.bullet:hover .xButton {
    opacity: 1;
}

.bullet .xButton:hover {
    background-color: var(--backgroundColor);
}

.bulletRegular > .bulletPart, .bulletCheckbox > .bulletPart {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.7rem;
}

.bulletRegular > .textPart, .bulletCheckbox > .textPart {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bulletDate > .textPart {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bulletTime > .textPart {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bullet > .textPart > textarea {
    width: 100%;
    font-size: 1rem;
    background-color: var(--lighterBackgroundColor);
    border-radius: 0.3rem;
    border: 2px solid var(--borderColor);
    color: white;
    padding: 1%;
    padding-left: 2%;
}

.bulletDate > .bulletPart {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bulletTime > .bulletPart {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bulletDate > .bulletPart > .bulletHolder, .bulletTime > .bulletPart > .bulletHolder{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    font-size: 1rem;
}

.bulletDate > .bulletPart > .bulletHolder > input {
    width: 40%;
    height: 90%;
    font-size: 1rem;
    color: rgb(230, 230, 230);
    background-color: var(--middleBackgroundColor);
    border: 0;
    border-radius: 0.5vh;
    text-align: center;
}

.bulletTime > .bulletPart > .bulletHolder > input {
    width: 26.6666666667%;
    height: 90%;
    font-size: 1rem;
    color: rgb(230, 230, 230);
    background-color: var(--middleBackgroundColor);
    border: 0;
    border-radius: 0.5vh;
    text-align: center;
}

.bulletTime > .bulletPart > .bulletHolder > .AMPM {
    width: 30%;
    height: 90%;
    font-size: 1rem;
    color: rgb(230, 230, 230);
    background-color: var(--middleBackgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vh;
    cursor: pointer;
}

/* CSS for checkboxes (not the whole div, just the checkbox itself) */

.checkbox {
    position: relative;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5vh solid var(--borderColor);
}

.checkbox > input {
    position: absolute;
    transform: scale(2);
    border-radius: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.checkbox > .check {
    opacity: 0;
    transition: opacity 200ms;
    width: 70%;
    aspect-ratio: 1/1;
    background-color: var(--borderColor);
    border-radius: 100%;
    border: 0;
}

.checkbox > input:checked ~ div {
    opacity: 1;
}

.bulletCheckbox > .bulletPart > .checkbox {
    width: 40%;
}